<div class="card itemCard" id="<%= item.id %>">
  <div class="card-block">
    
    <%= link_to edit_user_item_path(:user_id => current_user.id, :id => item.id)  do %>
         <h6 class="cardIcon mb-2 text-muted t-md t-left editIcon"  data-tooltip="Click to Edit Task"><i class="fa fa-cog"></i></h6>
    <%end%>
   
    
    <h4 class="card-title"><span class="cardIcon text-muted t-lg t-right"  data-tooltip="Created: <%= created_inwords(item) %> ago"><i class="fa fa-clock-o"></i></span> <%= item.name %></h4>
    <div class="itemCard-footer">
        <% if distance_of_time_in_words(item.created_at + 7.days, Time.now).gsub(' days', '') >= "3" %>
            <h6 class="t-lg t-right text-muted" data-tooltip="Task will auto expire on: <%= date_to_expire(item) %>"><span class="badge badge-pill badge-primary"> <%= days_left(item) %></span></h6>
        <% elsif distance_of_time_in_words(item.created_at + 7.days, Time.now).gsub(' days', '') == "2" %>
            <h6 class="t-lg t-right text-muted" data-tooltip="Task will auto expire on: <%= date_to_expire(item) %>"><span class="badge badge-pill badge-warning"> <%= days_left(item) %></span></h6>
        <% elsif distance_of_time_in_words(item.created_at + 7.days, Time.now).gsub(' day', '') == "1" %>
            <h6 class="t-lg t-right text-muted" data-tooltip="Task will auto expire on: <%= date_to_expire(item) %>"><span class="badge badge-pill badge-danger"> <%= days_left(item) %></span></h6>
        <% else %>
            <h6 class="t-lg t-right text-muted" data-tooltip="Task will auto expire on: <%= date_to_expire(item) %>"><span class="badge badge-pill badge-danger"> <%= days_left(item) %></span></h6>    
        <%end%>
        <%= link_to "", [current_user, item], method: :delete, class: 'btn btn-primary fa fa-check', data: {confirm: 'Are you sure you want to mark this ToDo as COMPLETE?'}, remote: :true %>
    </div>
     
  </div>
</div>
  
  
  
  
  
  
        